<header class="main-header">
	<h1 class="group"><a href="#/table-of-content" id="nav-logo">Mizuho</a></h1>
		<nav class="navbar" style="padding:0;height:auto;">
			<ul class="volcker-nav nav">
				<li ui-sref-active="active">
					<a ui-sref="review-status" ui-sref-opts="{reload: true}">Review Status</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="risk-position-limits-usage" ui-sref-opts="{reload: true}">1 Risk & Position Limits & Usage</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="risk-factor-sensitivities" ui-sref-opts="{reload: true}">2 Risk Factor Sensitivities</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="VaR-and-sVaR" ui-sref-opts="{reload: true}">3 VaR & sVaR</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="comprehensive-PnL" ui-sref-opts="{reload: true}">4 Comprehensive P&L</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="inventory-turnover" ui-sref-opts="{reload: true}">5 Inventory Turnover</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="inventory-aging" ui-sref-opts="{reload: true}">6 Inventory Aging</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="customer-facing-trade-ratio" ui-sref-opts="{reload: true}" title="Customer Facing Trade Ratio">7 CFTR</a>
				</li>
				<li ui-sref-active=" active"><a ui-sref="table-of-content" style="padding-right:3px;">Table of Content</a></li>
			</ul>
		</nav>
</header>