<h3 ng-if="!isPositionLevelShown" style="margin-top:0; display: inline">Detail View</h3>
<input type="text" placeholder="filter by Security ID..." ng-model="cusipFilter.val" ng-change="searchCusip()" ng-disabled="isSearching" style="width:136px;margin-left:5px" ng-hide="isPositionLevelShown">
<h3 ng-if="isPositionLevelShown" style="margin-top:0; display: inline">Position Age View</h3>
<span>&nbsp;&nbsp;Volcker Desk:</span><label class="text-info">&nbsp;{{deskName}}&nbsp;&nbsp;</label>
<span>&nbsp;&nbsp;Date:</span><label class="text-info">&nbsp;{{date}}&nbsp;&nbsp;</label>
<span>&nbsp;&nbsp;Review Status:</span><label class="text-info">&nbsp;{{desk.sDescription}}&nbsp;&nbsp;</label>
<span>&nbsp;&nbsp;Reviewer:</span><label class="text-info">&nbsp;{{desk.sReviewerLogin}}&nbsp;&nbsp;</label>
<!-- <div ng-if="!isPositionLevelShown"> -->
	<div ng-if="!isPositionLevelShown" class="grid grid-large-header" style="height: 71vh; width: 100%" ui-grid="detailGridOptions"
		ui-grid-expandable
		ui-grid-move-columns
		ui-grid-resize-columns
		ui-grid-pinning
		ui-grid-save-state
		ui-grid-edit>
		<div class="grid-overlay-msg" ng-show="isSearching">
			<span us-spinner spinner-key="detail-spinner" spinner-start-active="false"></span>
		</div>
		<div class="grid-overlay-msg" ng-show="noReportData">
			<div class="msg">
				<span>No Data</span>
			</div>
		</div>
		<div class="grid-overlay-msg" ng-show="error">
			<div class="msg">
				<span>{{error}}</span>
			</div>
		</div>
	</div>
	<div ng-if="!isPositionLevelShown" class="row-top-buffer">
		<button type="button" class="btn btn-primary" ng-click="reviewReport()" ng-disabled="disableReview()" ng-show="access.write">Review</button>
		<button type="button" class="btn btn-primary" ng-disabled="detailGridOptions.data.length === 0" ng-click="exportToExcel()">Export</button>
		<button type="button" class="btn btn-default" ng-click="goBack()">Back</button>
		<button type="button" class="btn btn-default" ng-disabled="detailGridOptions.data.length === 0" ng-click="showAuditHistory()">Audit History</button>
		<button type="button" ng-disabled="detailGridOptions.data.length === 0" class="btn btn-default glyphicon glyphicon-file" ng-click="showDocument()"></button>
		<button type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-click="showComment()" ng-disabled="detailGridOptions.data.length === 0"></button>
	</div>
<!-- </div> -->
<!--Position Age Grid-->
<div ng-if="isPositionLevelShown" ng-controller="PositionAgeController" style="height: 76vh;width:100%;">
	<div class="" style="height: 71vh; width: 100%;">
		<div class="grid grid-large-header" style="height: 100%; width: 100%" ui-grid="positionsGridOptions"
			ui-grid-move-columns
			ui-grid-edit
			ui-grid-resize-columns
			ui-grid-pinning>
			<span us-spinner spinner-key="position-spinner" spinner-start-active="true"></span>
			<div class="grid-overlay-msg" ng-show="noPositionData">
				<div class="msg">
					<span>No Data</span>
				</div>
			</div>
			<div class="grid-overlay-msg" ng-show="error">
				<div class="msg">
					<span>{{error}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row-top-buffer">
		<button type="button" class="btn btn-primary" ng-click="reviewReport()" ng-disabled="disableReview()">Review</button>
		<button type="button" class="btn btn-primary" ng-disabled="positionsGridOptions.data.length === 0" ng-click="exportTransactionDetailToExcel()">Export</button>
		<button class="btn btn-default" ng-click="backToDetail()">Back</button>
		<button type="button" class="btn btn-default" ng-disabled="detailGridOptions.data.length === 0" ng-click="showAuditHistory()">Audit History</button>
		<button type="button" ng-disabled="detailGridOptions.data.length === 0" class="btn btn-default glyphicon glyphicon-file" ng-click="showDocument()"></button>
		<button type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-click="showComment()" ng-disabled="detailGridOptions.data.length === 0"></button>
	</div>
</div>
<!--end of Position Age Grid-->

<div ng-include=" 'inventory-aging/auditHistory.html' " class="clearfix"></div>